html{
  background-color: grey;
}
.container-fluid{
  background-repeat: no-repeat;
  color:white;
  background-color: grey;
}
nav{
  margin-bottom: 30px;
  margin-top:2px;
}
footer{
  height: 100px;
}
.jumbotron{
  height: 300px;
  text-align: center;
}
footer .col-lg-4{
  margin-top: 15px;
  margin-bottom: auto;
}
footer .col-md-4{
  margin-top:15px;
  margin-bottom: auto;
}
footer .col-sm-4{
  margin-top:15px;
  margin-bottom: auto;
}
