body
{
    background-color: black;
    background-image: url(../images/back1.jpg);
    background-repeat: no-repeat;
}
#container
{
    border: 2px solid darkslategrey;
    width: 1344px;
    height: 640px;
    display: inline-flex;
}
.left
{
    background-color: whitesmoke;
    width:300px;
    height: 600px;
    margin:0 auto;
    margin-left: 50px;
    margin-top: 20px;
}
.left h1
{
    text-align: center;
    width: 100%;
    margin-left: 8px;
    padding-bottom: 15px;
    color: rgb(41, 39, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.aide
{
    border: 1px solid darkslategray;
    width: 950px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    overflow: auto;
}
h2
{
    color: darkslategray;
    text-align: center;
}
u
{
    color: darkslategray;
}
#login
{
    margin-left: 750px;
}
a
{
    
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 1px solid dimgrey;
    border-radius: 5px;
}
a:hover
{
    border: 1px solid dimgrey;
    color: dimgrey;
}