body
{
    background-color: black;
    background-image: url(../images/back1.jpg);
    background-repeat: no-repeat;
    display: inline-flex;
}
#container
{
    width:500px;
    margin:0 auto;
    margin-top:3%;
    margin-left: 50px;
}
form
{
    width:100%;
    padding: 40px;
    border: 1px solid whitesmoke;
    background: whitesmoke;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1
{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 15px;
    color: dimgrey;
}

a
{
    margin-right: 300px;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 1px solid dimgrey;
    border-radius: 5px;
}
a:hover
{
    border: 1px solid dimgrey;
    color: dimgrey;
}
#aide
{
    margin-left: 440px;
}
#signup
{
    margin-left:368px;
}

.left
{
    background-color: whitesmoke;
    width:500px;
    margin:0 auto;
    margin-top:3%;
    margin-left: 50px;
}

.left h1
{
    width: 100%;
    margin-left: 160px;
    padding-bottom: 15px;
    color: rgb(41, 39, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
b
{
    color: white;
}

